.main-box {
    position: relative;
    width: 320px;
    height: 560px;
    border-radius: 5px;
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
}

@media (min-width: 576px) {
    .main-box {
        width: 360px;
    }
}